/* Path: src/index.css */
@import "tailwindcss";
@plugin "daisyui";

/* This ensures the background color is tied to the daisyUI theme */
:root {
  background-color: var(--fallback-b1,oklch(var(--b1)));
  color: var(--fallback-bc,oklch(var(--bc)));
}

@plugin "daisyui" {
  themes: light, dark;
}